*{box-sizing: border-box;}
	
	body{
		font-family: helvetica, sans-serif;
		background:#fafafa;
		background: #e4c7ac;
		color:black;
		margin:0;
		font-size:13px;
		letter-spacing:.02em;
	}

	header, .projects, .index{
		position:relative; z-index:3;
	}
	
	menu{z-index:2;}
	


	header div.title{
		
		display:inline-block;
		
		transform: translateX(-50%);
		left:50%;
		font-weight:bold;
    	color:white;
    	-webkit-font-smoothing: antialiased;
    	letter-spacing:5px;

	}

	menu{
		margin:0;
		padding:0;
		left:50px;
		position:fixed;
		top: 50%;
		transform: translateY(-50%);
		transition:3s;
		display:none;
	}

	a{color:inherit; text-decoration:none; /*border-bottom:1px solid #a08c79;*/ transition:.1s;}
	a:hover{border-bottom-color: black; color:black;}
	.liB{font-weight:600;}

	.msg-ctn{
		position:fixed;
		top:0;
		width:100vw;
		height:100vh;
		/*border:30px solid white;
		animation: pulse 10s infinite;*/
/*	
		border-top-color:#704883;
		border-bottom-color:#EE8A00;
		border-left-color:#5CEAE7;
		border-right-color:#38BC1F;*/
	}

/*		.message a{animation: pulse 8s infinite;}  */
		.message a{ border-bottom:0px solid white; font-weight:600; display:inline-block; margin-bottom:20px;}
		.message a:hover{ border-color:black;}
		
	.message{
		position:absolute;
		display:inline-block;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		z-index:0;
		line-height:21px;
		font-size:13px;
		letter-spacing:.03em;
	}

	button a{
		border:0; 
		display:block;
		padding: 8px 18px;
	}

	header{
		margin-bottom:106vh; 
		border-bottom:10px solid white;
		min-height:105vh;
		background:#6A748A;
	}

	menu ul{
		margin:0;
		list-style: none;
		opacity:1;
		
	}

	menu li{
		margin:20px 0;
		color: black;
    	letter-spacing: .03em;
    	
	}
	

	.menu2{
		opacity:0;
		position:absolute;
		top:30px;
		left:30px;
		transition:1s;
	}

	.menu2.show{opacity:1;}

	.projects{
		position:relative;
		z-index:2;
		background:inherit;

		
	}

	img{
		width:100%; 
		display:block;
		position:relative;

	}

	hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #fff; /* old IE */
    background-color: #fff; /* Modern Browsers */
}

button{
    letter-spacing: 0.03em;
    border-radius: 2px;
    color: black;
    background: #fff;
    
    text-transform: none;
    border: 0;
    transition:.3s;
    cursor:pointer;
    position:relative;
    z-index:10;
}

button:hover{background:#e4c7ac;}

.b1a{
	top:-80vh;
	left:75vw;
}

.b1b{
	top:-30vh;
	left:75vw;
}

.b2{
	top:-15vh;
	left:30vw;
}

.b3{
	top:-15vh;
	left:10vw;	
}

.b4{
	top:-30vh;
	left:60vw;
}

.b9{
	top:-20vh;
	left:50vw;
	transform: translateX(-50%);
}

	.projects > img{
		margin-top:30vh;
		/*border-bottom:2px solid #2f35f1;*/
		box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	}
	.projects > img:first-child{
		margin-top:0vh;
	}

	.full{
		border-top: 10px solid white;
		border-bottom: 10px solid white;
	}

	.i2{
		height:90vh;
		width: auto;
		margin-left:20%;
	}	

	.i3{
		
		width: 50vw;
		margin-left:50%;
		transform: translateX(-50%);
		border: 10px solid white;
	}

	.i4{
		height:90vh;
		width: auto;
		margin-left:50%;
		transform:translateX(-50%);
		border: 10px solid white;
	}

	.index{
		height:100vh; 
		overflow:hidden;
		background:inherit;
	}

	footer hr{
		position:absolute;
		bottom:10vh;
		width:100%;
	}
	.social{
		display:inline-block;
		position:absolute;
		bottom:5vh;
		color:white;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		left:50%;
		transform: translateX(-50%);
	}
	
	.social a{border:0;}
	.social a:hover{color:red;}

 	footer{
		background-image:url('img/IMG_5368e.jpg');
		background-size:cover;
		background-position: center center;
		width:100%;
		padding-top:50px;
		height:100vh;
		position:relative;
		z-index:1;
		border:20px solid white;
	}

	footer ul{
		margin:0;
		margin-bottom:30px;
		list-style: none;
		line-height:24px;
	}

	footer ul.right{
		position:absolute;
		right:40px;
		top:50px;
	}
	.beeb{
		background:inherit;
		text-align:center;
		width:100%;
		position:relative;
		z-index:1;
		height:80vh;
		padding-top:10vh;
		background-image: linear-gradient(#e4c7ac, white);
	}
	.beeb img{

		max-height:80vh;
		display:inline-block;
		width:auto;
		display:none;
	}

  	@keyframes pulse {
	  0% {
	    border-color: #fff;
	  }
	  25% {
	  	border-color: #704883;
	  }
	  50% {
	    border-color: #38BC1F;
	  }
	  750% {
	    border-color: #5CEAE7;
	  }
	  100% {
	    border-color: #fff;
	  }
	}

	.c1{background-color:#704883;}
  	.c2{background-color:#EE8A00;}
  	.c3{background-color:#5CEAE7;}
  	.c4{background-color:#38BC1F;}
  	.c5{background-color:#F93F00;}

	menu{display:none;}

	@media (max-width: 1000px){
		
		.projects img{width:100%; height:auto; margin-left:0; transform: translateX(0);}
		footer{height:auto;}
		footer ul{
			color:white;
			-webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			-o-font-smoothing: antialiased;
		}
		footer ul.right{position:static; margin-bottom: 100px;}
		
		.projects button{
			position:static;
			margin-left:50%;
			transform: translateX(-50%);
			background:white;
			margin-top:20px;
		}
		header div.title{top:50%;}
		header{margin-bottom:0; min-height:0;}
		.projects{margin-top:0;}
		.msg-ctn{
			position:static; 
			padding:20px; 
			height:auto;
		}
		
		.message{
			position:static;
			transform:translate(0,0);
		}

		header ul{top:80px; left:10px;}
		header p{font-size:12px; top: 350px; left:10px; right:auto;}
	}